* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto Cn", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../images/zebra-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #eee;
}
.overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../images/zebra-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
}
#slides li {
  line-height: 3rem;
  font-size: 1.5rem;
  list-style-type: none;
  padding: 0 1em;
}
/* start of contant */
main {
  width: 80%;
  font-family: "Acme", sans-serif;
}
.main-content {
  margin: 6em auto;
  margin-top: 4em;
  padding: 2em 0em;
  padding-top: 1.5em;
  font-size: 1.77rem;
}
.main-content p {
  padding: 0.5em;
}
.info {
  margin-bottom: 1em;
}

.main-content h1,
.main-content h3 {
  color: rgb(241, 228, 228);
  letter-spacing: 4px;
  margin-bottom: 0.7em;
  max-width: 65ch;
}
h2 {
  padding: 0 1em;
}
.main-info {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.884);
  width: 80%;
  align-items: center;
  margin: 0 auto;
}
.sec-info:hover,
.main-info:hover {
  box-shadow: 0 8px 16px 0 rgba(45, 39, 38, 1);
}
.info:hover h1 {
  background: rgb(208, 202, 195);
  background: linear-gradient(
    297deg,
    rgba(208, 202, 195, 1) 12.5%,
    rgba(45, 39, 38, 1) 25%,
    rgba(208, 202, 195, 1) 37.5%,
    rgba(45, 39, 38, 1) 50%,
    rgba(208, 202, 195, 1) 62.5%,
    rgba(45, 39, 38, 1) 75%,
    rgba(208, 202, 195, 1) 87.5%,
    rgba(45, 39, 38, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info:hover span {
  background: rgb(241, 228, 228);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
img {
  width: 100%;
}
.main-info p {
  margin: 0 0.3em;
}
.main-info h1 {
  padding-top: 1em;
}
.like:hover {
  background-color: rgba(0, 0, 0, 0.46);
}
.sec-info p {
  margin-left: 1em;
  padding-bottom: 2em;
  margin-right: 0.5em;
  max-width: 80ch;
}
.sec-info h1 {
  margin-left: 1em;
  padding-top: 1em;
}
.sec-info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.884);
  margin: 2em auto;
  padding: 0 1em;
}
.info span {
  color: rgb(241, 228, 228);
}
.info h1 {
  color: #dc143c;
}

.main-content p {
  color: white;
  line-height: 2.3rem;
  letter-spacing: 2px;
  font-family: "Piazzolla", serif;
}
.like {
  justify-content: space-around;
  display: inline-block;
}
.main::after {
  content: "";
  clear: both;
  display: table;
}

.read-more {
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  background-color: crimson;
  color: rgb(241, 228, 228);
  /* border-radius: 20%; */
  border: 1em;
  cursor: pointer;
}

.read-more:hover {
  background-color: rgba(45, 39, 38, 1);
  color: rgba(208, 202, 195, 1);
}
@media (max-width: 400px) {
  html {
    font-size: 8px;
  }
  .main-info,
  .third-info,
  .frth-info,
  .fifth-info {
    width: fit-content;
  }
  .sec-info {
    max-width: 100%;
  }
}
.fifth-info {
  margin-bottom: 0;
}
.vid-img {
  width: 50%;
  margin: auto;
}
.vid-img:hover {
  color: rgba(208, 202, 195, 1);
}
/* end of contant */
.to {
  position: fixed;
  right: -50px;
  width: 100px;
  padding: 1em;
  padding-left: 0.5em;
  background-color: rgba(220, 20, 60, 0.288);
  color: rgb(241, 228, 228);
  border: 1em;
  cursor: pointer;
}
.animals {
  top: 12%;
}
.to:hover {
  background-color: rgb(45, 39, 38);
  right: 0;
}
.insects {
  top: 20%;
}
.birds {
  top: 28%;
}
h1:hover,
p:hover {
  transform: scale(1.05);
}
.main-info p {
  text-align: center;
  margin: 0 1em;
}
h3 {
  padding-top: 3em;
  color: rgba(208, 202, 195, 1);
}
.top {
  background-color: rgba(220, 20, 60, 0.1);
}
.top:hover {
  background-color: crimson;
}
