* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto Cn", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #eee;
}
.overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
}
/* start of contant */
main {
  width: 80%;
  font-family: "Piazzolla", serif;
}
.main-content {
  margin: 6em auto;
  padding: 2em 0;
  font-size: 1.77rem;
  text-align: center;
}
.main-content h1,
.main-content h3 {
  color: rgb(241, 228, 228);
  letter-spacing: 4px;
  font-family: "Acme", sans-serif;
}
.main-content h3 {
  margin-bottom: 1em;
}
.main-content p {
  color: white;
  line-height: 2.3rem;
  letter-spacing: 3px;
}
.read-more {
  margin: 2em 0;
  padding: 1em;
  background-color: crimson;
  color: rgb(241, 228, 228);
  border-radius: 20%;
  border: 1em;
  cursor: pointer;
}
.read-more:hover {
  background-color: rgb(241, 228, 228);
  color: crimson;
}
/* end of contant */

/* fonts  */
:root {
  --acme: "Acme", sans-serif;
  --roboto: "Roboto Cn", sans-serif;
  --piazzolla: "Piazzolla", serif;
  --grupo: "grupo", sans-serif;
  --mr-dafoe: "Mr Dafoe", sans-serif;
  --poppins: "Poppins", serif;
  --telex: "Telex", serif;
}
/* fonts */
.animals-card div {
  margin-top: 5em;
}
/* start of contant */
.animals-card {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 17rem));
  grid-gap: 2rem;
}
.card {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease 0s;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
  transform: scale(1.05);
}
.card-img {
  height: 12rem;
  width: 100%;
}
.card-tittle {
  padding: 1em;
  font-size: 1.9rem;
  color: crimson;
}
.card-description {
  padding: 0 1em;
  color: rgb(241, 228, 228);
  font-size: 1.22rem;
}
.card-btn {
  width: 100%;
  margin-top: 1em;
  padding: 1em;
  background-color: crimson;
  color: rgb(241, 228, 228);
  border-radius: 20%;
  border: 1em;
  cursor: pointer;
}
.card-btn:hover {
  background-color: rgb(241, 228, 228);
  color: crimson;
}
/* honey badger */

.hb:hover h2 {
  background: linear-gradient(to top, #282527, #c3bdb6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* honey badger */
/* cheetah */
.cth:hover h2 {
  background: linear-gradient(to top, #e8c1a2, #a8733a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* cheetah */
/* Black Rhinoceros */

.w_rhn:hover h2 {
  background: linear-gradient(to top, #5f5d59, #8c9494);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Black Rhinoceros */
/* bald eagle */
.bald-eagle:hover h2 {
  background: rgb(202, 169, 136);
  background: linear-gradient(
    347deg,
    rgba(202, 169, 136, 1) 8%,
    rgba(37, 30, 27, 1) 30%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* bald eagle */
/* mantis */
.mnts:hover h2 {
  background: linear-gradient(to top, #b2da6d, #3d6e2f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* mantis */
/* black widow */
.b_wdw:hover h2 {
  background: rgb(42, 37, 33);
  background: linear-gradient(
    0deg,
    rgba(42, 37, 33, 1) 23%,
    rgba(156, 39, 14, 1) 50%,
    rgba(42, 37, 33, 1) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* black widow */
/* african lion */
.african-lion:hover h2 {
  background: rgb(65, 30, 15);
  background: linear-gradient(
    18deg,
    rgba(65, 30, 15, 1) 12%,
    rgba(184, 127, 54, 1) 48%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* african lion */
/* bison */
.bison:hover h2 {
  background: #2f251e;
  background: linear-gradient(18deg, #2f251e 52%, #9e816a 88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* bison */
/* zebra */
.zebra:hover h2 {
  background: rgb(208, 202, 195);
  background: linear-gradient(
    297deg,
    rgba(208, 202, 195, 1) 12.5%,
    rgba(45, 39, 38, 1) 25%,
    rgba(208, 202, 195, 1) 37.5%,
    rgba(45, 39, 38, 1) 50%,
    rgba(208, 202, 195, 1) 62.5%,
    rgba(45, 39, 38, 1) 75%,
    rgba(208, 202, 195, 1) 87.5%,
    rgba(45, 39, 38, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* zebra */
/* secretary bird */
.secretary-bird:hover h2 {
  background: rgb(19, 20, 16);
  background: linear-gradient(
    312deg,
    rgba(19, 20, 16, 1) 51%,
    rgba(198, 201, 200, 1) 72%,
    rgba(158, 58, 23, 1) 97%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* secretary bird */
/* Leopard */
.Leopard:hover h2 {
  background: linear-gradient(to top, #cfab86, #a8733a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Leopard */
/* end of contant */
@media screen and (max-width: 500px) {
  .animals-card {
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 18rem));
  }
}
